{% load static %}
{% static "images" as baseUrl %}
{% extends index.html %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/places.css' %}">
    <title>places</title>
</head>
<body>
hiiiiiiiiiiii
<!-- start content -->
 {% for item in places %}
 {% ifequal item.category_id 1 %}
    <div class='content'>


        <div class='photo'>

            <div class='image'><img src="{{item.imag.url}}" alt=""< width='300' height='300'></div>
            <div class='photo-name'>{{ item.place }}</div>

        </div>


    </div>
  {% endifequal %}
   {% endfor %}


</body>
</html>